<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- KIS와 OpenDART의 HTTPS API를 호출하기 위한 유일한 런타임 권한이다. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 금융 관련 캐시와 토큰이 시스템 백업이나 기기 이전으로 복사되지 않도록 백업을 끈다. -->
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KValue">
        <!-- 단일 Activity가 Compose 콘텐츠 전체를 호스팅하며 런처 진입점으로 외부에 공개된다. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.KValue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
